ffmpeg
numpy~=1.18.5
sacred==0.7.3
librosa==0.6.2
soundfile==0.10.2
lxml~=4.7.1
musdb==0.2.3
museval==0.2.0
google==2.0.1
protobuf==3.4.0
tensorflow==1.13.1
pandas~=0.25.3
seaborn~=0.11.2
matplotlib~=3.5.1
numpy
numba==0.48
protobuf
py-cpuinfo==5.0.0
pyyaml==5.4.1
julius~=0.2.6
torch~=1.10.1
omegaconf~=2.1.1
diffq~=0.2.2
torchaudio~=0.10.1
dora-search
diffq>=0.2.1
flake8
hydra-colorlog>=1.1
hydra-core>=1.1
julius>=0.2.3
lameenc>=1.2
museval
mypy
openunmix
pyyaml
submitit
torch>=1.8.1
torchaudio>=0.8
tqdm~=4.62.3
treetable
lxml
setuptools~=57.0.0
scipy~=1.5.2
moviepy~=1.0.3
resampy~=0.2.2
scikit-learn~=0.22.2.post1
Pillow~=8.4.0
requests~=2.26.0
stempeg
youtube-dl
azureml-sdk